@model IEnumerable<DemoCRUD.Models.TodoList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">新增新的項目</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Content
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Content
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">修改</a> |
                <a asp-action="Delete" asp-route-id="@item.id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
